html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Sackers Gothic Light AT';
  overflow: hidden;
  background-color: #2a3c47;
}

body {
  perspective: 800px;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.htmlContainer {
  -webkit-transform: rotate3d(0, 1, 0, 357deg);
}

@font-face {
  font-family: 'Sackers Gothic Light AT';
  src: url('./assets/font/SackersGothicLightAT.woff2') format('woff2'), url('./assets/font/SackersGothicLightAT.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.edge-corner {
  clip-path: polygon(0 0, 98% 0, 100% 20%, 100% 100%, 0 100%);
}

.loading {
  position: absolute;
  top: 34px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: transparent;
  z-index: 1000;
}

.loading-bar-container {
  width: 500px;
  height: 50px;
  background: #272727;
  border: 2px solid #4f6c70;
}

.loading-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  background: #3f575a;
}

.loading-data {
  font-variant-numeric: tabular-nums;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 1em;
}
